.board{
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
}

header{
    
    
    display:flexbox;
    align-items: center;
    font-family: "Helvetica";
}
body{
    padding-top: 10%;
    display: flex;
    justify-content: center;
    color: rgb(138, 0, 55);
    font-family: "Helvetica";
    font-size: 50px;
}

div{
    background: rgb(255, 244, 229);
    height: 200px;
    width: 200px;
    border: 10px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 63, 130);
    font-size: 100px;
}


.board{
    
    
    font-family: "Helvetica";
    /* font-size: 100px; */
}



